h2
    color: green
    text-align: center
    text-transform: uppercase

img
    width: 15em      
    height: 15em




.sliderCont
    margin: 0 auto
    width: 250px
    height: 15em
    background: linear-gradient(-70deg , #FFCDD2, #BA68C8)
    // margin: 0 auto
    border: 5px solid #424242
    border-radius: 3px
    z-index: 999
    // overflow: hidden

.slider
    transition: 2s
    .cont
        width: 15em
        height: 15em
        display: inline-block
        position: relative
        border: .1em solid #424242
        transition: left 1s ease-out 0.5s;
        .createElem
            text-align: center
            display: inline-block
            position: absolute
            
        p
            margin-top: 30px
            padding: 5px