

.slider
    width: 768px
    height: 256px
    margin: 50px auto
    border: 1px solid black
    // overflow: hidden
    .strip
        position: relative
        background-color: pink
        height: 256px
        width: 3840px
        left: 0
        transition: 1s
        img
            float: left

.button
    border: 1px solid #000


.test2,.test
    position: absolute

